body {margin: 0; padding: 0; border: 0;}

/* general styles */
h2, p, a { margin: 0; }

#editableArea {
	position: relative;
	overflow: visible;
	width: 960px;
	height: 1200px;
	margin: 0 auto 0 auto;
	background: #eee;
	color: #333;
	font-family: arial;
}

#editorGui fieldset {background: #f1f1f1;}


a {color: #333; text-decoration: none;}
a:hover {color: #44B3E1; text-decoration: none; cursor: pointer;}

a.orange {
	background: url('http://store.sony.com/wcsstore/SonyStyleStorefrontAssetStore/img/ss_global/carat_small.png') no-repeat 0 50%;
	padding: 0 0 0 10px;
}
a.green {
	background: url('/img/arrowGreen.png') no-repeat 0 50%;
	padding: 0 0 0 10px;
}
a.red {
	background: url('/img/arrowRed.png') no-repeat 0 50%;
	padding: 0 0 0 10px;
}

ul.mod-bullets {display: block; list-style: disc inside none;}
ul.mod-bullets li {color: #49B2E2; line-height: 18px;}
ul.mod-bullets li span.list-item {color: #333;}


.module {
	border: 1px solid yellow;
	border-left: none;
	border-bottom: none;
	background: none;
	height: 300px;
	position: inherit;
	width: 100%;
}
	.module.activeMod { background: rgba(255,255,0,0.3); }
	.module .tab {
		background: #eee;
		border: 1px solid yellow;
		border-right: none;
		position: absolute;
		width: 90px;
		height: 110px;
		top: 0;
		left: -100px;
		padding: 10px 0 0 10px;
	}
		.module.activeMod .tab { background: rgba(255,255,0,0.5); }
		.tab h3 { display: block; margin: 0; padding: 0; }
		.tab input { width: 75px; }
		.tab .up, .tab .down, .tab .close {
			display: inline-block;
			background: #333;
			color: white;
			width: 8px;
			padding: 8px;
			margin: 20px 0 0 0;
			text-decoration: none;
		}
			.tab .up:hover, .tab .down:hover, .tab .close:hover { color: red; }

.zone {
	position: absolute;
}

/* dragging */
#movInfo {
	background: rgba(134, 134, 134, .8);
	font-size: 9px;
	color: black;
	position: absolute;
	display: none;
	right: 0;
	top: -10px;
}
.highlighted { background: rgba(200, 200, 200, .8);}
.draggable { background: rgba(200, 200, 200, .8); }
.moving {
	background: rgba(134, 134, 134, .8);
}
	.moving #movInfo {
		display: block;
	}

#hBars {
	top:0;
	left:0;
	position: absolute;
	z-index: 101;
	display: none;
	border-top: dashed 1px #333;
	border-bottom: dashed 1px #333;
	width: 100%;
}
	#hBars.moving {
		background: transparent;
		display: block;
	}
#vBars {
	top:0;
	left:0;
	position: absolute;
	z-index: 101;
	display: none;
	border-left: dashed 1px #333;
	border-right: dashed 1px #333;
	height: 100%;
}
	#vBars.moving {
		background: transparent;
		display: block;
	}

/* editorGui */
#editorGui {
	position: fixed;
	right: 15px;
	top: 3%;
	font-family: arial;
}

#editorGui h3.first {margin: 8px 0 14px 0;}
#editorGui h3 {margin: 27px 0 10px 0;}
#editorGui p {clear: both; margin: 0; padding: 5px 0;}
#editorGui label {float: left; text-align: right; width: 86px;}
#editorGui input {float: right; margin: 0 0 0 8px; padding: 2px; width: 148px;}

#editorGui .radioBtn {display: inline-block; float: left; height: 18px; margin: 0 6px 0 0; width: 19px;}
#editorGui .radioLabel {float: left; text-align: left;}

	#addZone, #createZone, #removeZone {
		text-decoration: none;
		display: block;
		padding: 4px 10px 4px 10px;
		margin: 0 0 5px 0;
		line-height: 25px;
		font-size: 12px;
		font-weight: bold;
		background: #FF7E1F;
		color: #333;
	}

#guiActiveZoneLink {visibility: hidden;}
#guiActiveZoneVideo {visibility: hidden;}


	#addModule {
		text-decoration: none;
		display: block;
		width: 121px;
		padding: 4px 10px 4px 10px;
		margin: 0 0 5px 0;
		line-height: 25px;
		font-size: 12px;
		font-weight: bold;
		background: yellow;
		color: #333;
	}
